<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journey Builder</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
  <!-- <link rel="manifest" href="./manifest.json"> -->
</head>

<body>
  <div class="container">
    <div class="box draggable" style="position: absolute; left: 50px; top: 50px;">
      <div class="handle">
        <div class="item">on send</div>
        <div class="item">on view</div>
        <div class="item">on unsubscribe</div>
        <div class="item">on close</div>
      </div>
      <div class="box-inner">
        <figure>
          ❀
        </figure>
        <div>
          When User Enters a Segment
        </div>
      </div>
    </div>
    <div class="box draggable" style="position: absolute; left: 900px; top: 200px;">
          <div class="handle">
        <div class="item">on send</div>
        <div class="item">on view</div>
        <div class="item">on unsubscribe</div>
        <div class="item">on close</div>
      </div>
      <div class="box-inner">
        <figure>
          ❀
        </figure>
        <div>
          When User Enters a Segment
        </div>
      </div>
    </div>
  </div>
  <script src="js/bundle.js"></script>
</body>

</html>